#
# Init script for SINAI-N4 feature specific elements
#

on boot
    setprop persist.power.skip_tb 1

on post-fs-data

    # Adjust governors/frequencies
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "hellsactive"
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor "hellsactive"
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "hellsactive"
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor "hellsactive"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1512000
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq 1512000
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 1512000
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq 1512000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 384000
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq 384000
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq 384000
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_min_freq 384000

    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1

    # Disable High Brightness mode
    # write /sys/devices/i2c-0/0-0038/lm3530_br_mode 0

    # Try again
    write /dev/cpuctl/cpu.notify_on_migrate 1

    # GPU
    write /sys/devices/platform/kgsl-3d0.0/kgsl/kgsl-3d0/max_gpuclk 200000000
    write /sys/devices/platform/kgsl-3d0.0/kgsl/kgsl-3d0/pwrscale/trustzone/governor simple

    # Set ASMP as default 
    write /sys/module/autosmp/parameters/enabled Y

    # Set MAPLE Iosched
    write /sys/block/mmcblk0/queue/scheduler maple

    # Disable DYN by default
    write /sys/module/dyn_hotplug/parameters/enabled 0

    # Mako-Hotplug
    write /sys/devices/virtual/misc/mako_hotplug_control/cpufreq_unplug_limit 1242000
    write /sys/devices/virtual/misc/mako_hotplug_control/load_threshold 75
    write /sys/devices/virtual/misc/mako_hotplug_control/high_load_counter 5

    # I/O
    write /sys/block/mmcblk0/queue/nomerges 1
    write /sys/block/mmcblk0/queue/rq_affinity 2
    write /sys/block/mmcblk0/queue/add_random 0
    write /sys/block/mmcblk0/bdi/min_ratio 5

    # Disable those unneeded wakelocks
    write /sys/module/wakeup/parameters/enable_msm_hsic_ws N 
    write /sys/module/wakeup/parameters/enable_bluesleep_ws N 
    write /sys/module/wakeup/parameters/enable_wlan_rx_wake_ws N 
    write /sys/module/wakeup/parameters/enable_wlan_ctrl_wake_ws N 
    write /sys/module/wakeup/parameters/enable_wlan_wake_ws N
